body {
    box-sizing: border-box;
    margin: 0;
    padding: 0 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.root {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.navbar {
    height: 100%;
    width: 20vw;
    background-color: whitesmoke;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar button {
    height: 10%;
    background-color: blue;
    border: none;
}

.container {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    margin-left: 20vw;
}

.mapContainer {
    width: 55%;
    height: 100%;
}

form {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

input {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50%;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    outline: none;
}

input:hover {
    font-size: 15px;
}

.statusColors {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 5px;
    width: 50%;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    outline: none;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.saveBtn,
.closeBtn {
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    width: 80px;
}

.clearBtn {
    margin-left: 10px;
}

.clearBtn:hover {
    font-size: 15px;
}

.submitBtn:hover {
    font-size: 15px;
}

.modal {
    position: absolute;
    bottom: 0%;
    right: 0%;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalBtn {
    border-radius: 50px;
    border: none;
    color: white;
    background-color: black;
    height: 30px;
    width: 30px;
}

.greenMarker {
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50px;
}

.redMarker {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50px;
}

.page2container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
}

.pageContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.chartsWrapper {
    margin-left: 20%;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    border: 1px solid lightgray;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.homeBtn {
    height: 50px;
    border: none;
    background-color: #f5f5f5;
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}

.menuBtn {
    display: none;
}

.menuWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.menuHeadings {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 0.75rem;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-family: "Public Sans", sans-serif;
    color: rgb(33, 43, 54);
}

.menuHeadings p {
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    color: rgb(99, 115, 129);
}

.menuItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: gray;
}

.menuItemBlue {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: gray;
    background-color: #c7e0f4;
}

.menuItem:hover {
    background-color: lightgray;
}

.chartsContainer {
    margin-left: 20%;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
}

.stats1 {
    width: 30%;
    height: 180px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
}

.dataNum {
    font-size: 24px;
    font-weight: bold;
}

.charts {
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 100%;
    justify-content: space-evenly;
}

.barchart1 {
    width: 60%;
    height: 100%;
    border-radius: 30px;
    background-color: white;
    overflow-x: auto;
    overflow-y: auto;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
}

.barchart2 {
    width: 30%;
    height: 100%;
    border-radius: 30px;
    background-color: #c7e0f4;
    overflow-y: auto;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
}

.modalContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.RFIDformWrapper {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.paymentForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 16px;
    width: 50%;
    box-sizing: border-box;
    padding: 10px 10px;
    border-radius: 30px;
    background-color: white;
    margin-left: 20%;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, rgb(145 158 171 / 24%) 0px 16px 32px -4px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.paymentLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.paymentLabel label {
    margin-top: 10px;
    margin-left: 20px;
}

.paymentLabel input {
    margin: 10px;
    margin-right: 20px;
    background-color: whitesmoke;
}

.cardNumDiv {
    width: 100%;
    height: 40px;
    margin: 20px 20px;
    box-sizing: border-box;
    padding: 10px 10px;
    /* border: 1px solid black; */
}

.payNowBtn {
    background-color: whitesmoke;
    border: none;
    border-radius: 30px;
    width: 20%;
    height: 30px;
}

@media screen and (max-width: 650px) {
    .wrapper {
        height: auto;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
        height: auto;
        margin-left: 0;
        width: 100vw;
    }
    /* .navbar {
        height: 3%;
    } */
    .mapContainer {
        width: 100vw;
        height: 100vh;
    }
    .googleMap {
        width: 100vw;
        height: 100vh;
    }
    form {
        width: 100vw;
        height: 100vh;
    }
    label {
        font-size: 22px;
    }
    input {
        width: 200px;
        text-align: center;
    }
    .pageContainer {
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .sidebar {
        background-color: #f5f5f5;
        position: static;
        height: 10%;
        width: 100%;
        border: none;
        flex-direction: row;
        justify-content: space-between;
        overflow-y: unset;
    }
    .menuBtn {
        display: inline;
        width: 60px;
        border: none;
        background-color: whitesmoke;
        height: 50px;
        margin-top: 40px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .menuWrapper {
        display: none;
    }
    .chartsWrapper {
        height: auto;
        width: 100%;
        margin-left: 0;
    }
    .stats {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .stats1 {
        margin-top: 20px;
        height: 180px;
        width: 100%;
    }
    .charts {
        flex-direction: column;
        height: auto;
        margin-top: 20px;
    }
    .barchart1 {
        width: 100%;
    }
    .barchart2 {
        margin-top: 20px;
        width: 100%;
    }
    .page2container {
        flex-direction: column;
        height: auto;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .chartsContainer {
        height: auto;
        width: 100%;
        margin-left: 0;
    }
    .RFIDformWrapper {
        padding: 20px 20px;
        height: 100vh;
    }
    .paymentForm {
        margin-left: 0px;
        width: 100vw;
        height: auto;
        margin-top: 55px;
    }
    .paymentLabel label {
        font-size: 15px;
    }
    .payNowBtn {
        width: 30%;
    }
}

@media screen and (min-width: 651px) and (max-width:750px) {
    .wrapper {
        height: auto;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
        height: auto;
        margin-left: 0;
        width: 100vw;
    }
    .mapContainer {
        width: 100vw;
        height: 100vh;
    }
    .googleMap {
        width: 100vw;
        height: 100vh;
    }
    form {
        width: 100vw;
        height: 100vh;
    }
    label {
        font-size: 22px;
    }
    input {
        width: 200px;
        text-align: center;
    }
    .pageContainer {
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .sidebar {
        background-color: #f5f5f5;
        position: static;
        height: 10%;
        width: 100%;
        border: none;
        flex-direction: row;
        justify-content: space-between;
    }
    .menuBtn {
        display: inline;
        width: 60px;
        border: none;
        background-color: whitesmoke;
        height: 50px;
        margin-top: 40px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .menuWrapper {
        display: none;
    }
    .chartsWrapper {
        height: auto;
        width: 100%;
        margin-left: 0;
    }
    .stats {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .stats1 {
        margin-top: 20px;
        height: 180px;
        width: 100%;
    }
    .charts {
        flex-direction: column;
        height: auto;
        margin-top: 20px;
    }
    .barchart1 {
        width: 100%;
    }
    .barchart2 {
        margin-top: 20px;
        width: 100%;
    }
    .page2container {
        flex-direction: column;
        height: auto;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .chartsContainer {
        height: auto;
        width: 100%;
        margin-left: 0;
    }
    .RFIDformWrapper {
        padding: 20px 20px;
        height: auto;
    }
    .paymentForm {
        margin-left: 0px;
        width: 100vw;
        height: auto;
        margin-top: 55px;
    }
    .paymentLabel label {
        font-size: 17px;
    }
}